/* Page news detail
-----------------------------*/
.news-detail-page {
    color: #464646;
    font-size: 14px;

    p {
        margin-bottom: 15px;
        line-height: 22px;
    }

    .align-left {
        max-width: 100%;
        float: left;
        margin: 20px 20px 20px 0;
    }

    .align-right {
        max-width: 100%;
        float: right;
        margin: 20px 0 20px 20px;
    }

    @media (max-width: 768px) {
        background: #fff;
        padding: 20px;
    }
}