/* Category page
-----------------------------*/
.category-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__left {
        width: 370px;

        @media (max-width: 992px) {
            width: 270px;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    &__right {
        padding-left: 30px;
        width: calc(100% - 370px);

        @media (max-width: 992px) {
            width: calc(100% - 270px);
        }

        @media (max-width: 768px) {
            width: 100%;
            padding-left: 0;
            padding-top: 0;
        }
    }

    &__image {
        position: relative;
        margin-bottom: 50px;

        &-title {
            position: absolute;
            color: #464646;
            top: 50%;
            transform: translate(0, -50%);
            left: 80px;
            font-weight: 300;

            @media (max-width: 768px) {
                left: 20px;
                font-size: 20px;
            }
        }
        img {
            max-width: 100%;
        }

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-item {
            width: 32%;
            margin-bottom: 20px;
            padding: 20px 20px 40px;
            position: relative;
            border: 1px solid transparent;

            &-photo {
                img {
                    max-width: 100%;
                }
            }

            &-link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            &-name {
                padding-top: 12px;
                font-size: 18px;

                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }

            &:hover {
                border: 1px solid #f6f6f6;
            }

            &.empty {
                padding: 0;
                margin: 0;
                border: none;
            }

            @media (max-width: 992px) {
                width: 45%;
                padding: 0;
                margin-bottom: 15px;
            }
        }

        @media (max-width: 768px) {
            background: #fff;
            padding: 10px;
        }
    }

    @media (max-width: 768px) {
        h1 {
            background: #fff;
            padding: 10px;
        }
    }
}